# Local .terraform directories
**/.terraform/*
.terraform/*

# Terraform files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and should not be versioned.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore sensitive variable files
*.tfvars
*.tfvars.json

# Ignore plan output files
*.tfplan
